*build/
*builds/
CMakeLists.txt.user
*~
/**/*.xcodeproj/**/xcuserdata/
/**/*.xcodeproj/**/xcshareddata/
/extern/
*.pyc
*.log
.vscode
extern
.DS_Store
*data/bitmaps/controller.bmp
*data/bitmaps/controllerBase.bmp